page-contact {

h1{
    color: grey;
    font-size: 20px;
    text-align: center;
}

h2{
    color: grey;
    font-size: 15px;
    text-align: center;

}
.botonsi{
    margin-top: 50px;
    margin-left: 150px;
    margin-right: 50px;
    
}



}
